@code {
    [Parameter] public Product? Product { get; set; }
    [Parameter] public EventCallback<Product> OnAddToCart { get; set; }
}

@if (Product != null)
{
    <h2>@Product.Name</h2>
    <p>Wytrzymałość mechaniczna: <button>kobieta</button> <button>samochód</button></p>
    <p>Odporność na warunki atm.: <button>deszcz</button> <button>śnieg</button></p>
    <h3>@Product.Price zł (+VAT 23%, +dostawa)</h3>
    <button style="background: black; color: blue;" @onclick="() => OnAddToCart.InvokeAsync(Product)">DODAJ DO KOSZYKA</button>
}