userService/bin/
userService/obj
userService/bin/Debug/net8.0

productService/bin/
productService/obj/

paymentService/bin/
paymentService/obj/

orderService/bin/
orderService/obj/


invoiceService/bin/
invoiceService/obj

Frontend/adminApp/bin
Frontend/adminApp/obj

Frontend/clientApp/bin
Frontend/clientApp/obj

